@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
.top {
  background: rgba(0, 0, 0, 0.1) !important;
}

.nav-top {
  background-color: #93989b;
}
.nav-top ul {
  display: flex;
  justify-content: space-around;
  margin-top: -8px;
  margin-bottom: -16px;
}
.connexion {
  display: flex;
  padding-top: 6px;
}
.nav-top ul button {
  /* padding: 3px; */
  padding: 7px 17px 5px 19px;
  border-radius: 5px;
  color: white;
  border: none;
  background-color: #4b69bd;
}
.name {
  padding-top: 19px;
}
.name i {
  font-size: 24px;
  color: #4b69bd;
}
.name a {
  color: white;
  text-decoration: none;
  font-weight: 900;
}

/***** ---------Navbar **********/

.navbar {
  background-color: black;
  display: flex;
  justify-content: space-around;
  margin-top: 3px;
}
.nav-top ul li {
  list-style: none;
  padding-left: 35px;
}
.navbar ul {
  display: flex;
  justify-content: space-around;
}
.navbar ul li {
  list-style: none;
  padding-left: 20px;
}
.navbar ul li a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}
.navbar ul li a:hover {
  color: #4b69bd;
  border-bottom: 1px solid #4b69bd;
}
/************ End Navbar **************/
.portfolio{
    background-image: url("./image/about-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -38px;
}
.portfolio h2{
    color: #fff;
    font-size: 44px;
    padding-top: 86px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    text-transform: capitalize;
    line-height: 1;
}

.containeeer{
    width: 1000px;
    position: relative;
    display: flex;
    margin-left: 165px;
    justify-content: space-between;
}

.containeeer .card{
    position: relative;
    cursor: pointer;
}

.containeeer .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.containeeer .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.containeeer .card:hover .face.face1{
    background: #4b69bd;
    transform: translateY(0);
}

.containeeer .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
}

.containeeer .card:hover .face.face1 .content{
    opacity: 1;
}

.containeeer .card .face.face1 .content img{
    max-width: 100px;
}

.containeeer .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    letter-spacing: 2px;
    text-align: center;
    font-size: 1.5em;
}

.containeeer .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.containeeer .card:hover .face.face2{
    transform: translateY(0);
}

.containeeer .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.containeeer .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.containeeer .card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}
/*------------------  */
